
.main {
    width: 100%;
    max-width: 1540px;
    margin: 0 auto;
    height: auto;
    padding: 80px 0;
    padding: 5vw 0;
}

.item {
    width: 91%;
    min-width: 370px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    padding: 0 25px;
}

.item_img img {
    width: 100%;
}

.item_right {
    width: 45%;
    min-width: 400px;
    height: 100%;
    margin-left: auto;
}

.item_ttl {
    font-size: 30px;
    letter-spacing: 1px;
    margin-top: 13px;
    font-family: 'Courier New', Courier, monospace;
}

.item_brand {
    display: block;
    font-size: 15px;
    margin-top: 15px;
}

.item_price {
    display: block;
    font-size: 20px;
    margin-top: 20px;
}

.item_price_font_big {
    font-size: 28px;
}

.item_evaluation {
    width: 19%;
    width: 95px;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin: 15px 0 15px 33px;
}

.add_my_list,
.comment_link {
    width: 28px;
    height: 100%;
}

.add_my_list img,
.comment_link img {
    width: 100%;
    -webkit-user-drag: none;
}

.add_my_list_yellow {
    display: none;
}

.add_my_list label,
.comment_link a {
    display: block;
    width: 100%;
    height: 30px;
    top: 5px;
    left: 10px;
}

.add_my_list input {
    display: none;
}

.add_my_list span,
.comment_link span {
    display: block;
    font-size: 13px;
    text-align: center;
    margin-top: 2px;
}

.purchase_procedure_btn,
.comment_on_item_btn {
    width: 100%;
    height: 38px;
}

.purchase_procedure_btn form,
.purchase_procedure_btn button,
.comment_on_item_btn input {
    width: 100%;
    height: 100%;
}

.purchase_procedure_btn button,
.comment_on_item_btn input {
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    border: none;
    border-radius: 2px;
    background-color: rgb(247, 104, 104);
}

.item_description,
.item_information {
    width: 100%;
    margin-top: 30px;
}

.item_description_ttl,
.item_information_ttl {
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.item_description_txt {
    margin-top: 20px;
    font-size: 16px;
}

.item_information table {
    margin-top: 15px;
}

.item_information th,td {
    padding: 10px 0;
}

.item_information th {
    width: 100px;
    text-align: left;
    vertical-align: middle;
    font-size: 16px;
}

.item_information td {
    font-size: 15px;
    display: inline-block;
}

.item_category_wrapper {
    padding: 3px 18px;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #cccaca;
}

.item_condition {
    padding-left: 16px;
}

.comment {
    margin-top: 30px;
    width: 100%;
}

.number_of_comment {
    display: block;
    font-size: 23px;
    font-weight: bold;
    color: gray;
    margin-bottom: 15px;
}

.user_comment {
    width: 100%;
}

.user {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
}

.user_icon {
    width: 43px;
    height: 75%;
    margin-right: 10px;
    margin-left: 5px;
    border-radius: 50%;
    background-color: #cccaca;
}

.user_name {
    font-size: 16px;
}

.comment_txt {
    padding: 13px 10px;
    background-color: #cccaca;
    font-size: 14px;
}

.comment_on_item {
    width: 100%;
}

.comment_on_item_ttl {
    font-size: 20px;
    margin: 20px 0 3px 0;
    font-family: 'Courier New', Courier, monospace;
}

.comment_on_item_form {
    width: 100%;
    height: 140px;
    border-radius: 2px;
}

.comment_on_item_form textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border-radius: 2px;
    font-size: 14px;
}

.comment_on_item_btn {
    margin-top: 30px;
}

@media screen and (max-width: 928px) {
    .item {
        width: 100%;
        padding: 0 10px;
    }
}

.item_img {
    width: 45%;
    min-width: 300px;
    margin: 25px 25px 0 0;
}

@media screen and (max-width:740px) {
    .item {
        padding: 0 10px;
        display: block;
    }

    .item_img {
        width: 100%;
        margin: 0;
        min-width: auto;
    }

    .item_right {
        width: 100%;
        min-width: auto;
        margin: 0 auto;
    }
}